<div class="nav-wrapper">
  <nav class="black accent-1">
    <a href="/" class="brand-logo">uToob</a>
    <a href="#" data-activates="mobile" class="button-collapse"><h1>uToob</h1></a>
    <p class="right ">
    <%= link_to 'Exit', destroy_user_session_path, method: :delete%>
    </p>

  </nav>
</div>
